.borders {
    -fx-fill: white;
    -fx-border-width: 0.5; 
    -fx-border-color: black;
}
.selected {
	-fx-background-color: rgba(0,0,255,0.3);
    -fx-border-width: 0.5; 
    -fx-border-color: black
}
.wrong {
	-fx-background-color: rgb(204,0,0);
    -fx-border-width: 0.5; 
    -fx-border-color: black
}
.correct {
	-fx-background-color: rgb(107,194,130);
    -fx-border-width: 0.5; 
    -fx-border-color: black
}
.highlight {
    -fx-background-color: rgba(255,0,0,0.2);
    -fx-border-width: 0.5; 
    -fx-border-color: black
}
.cagewrong{
    -fx-background-color: rgba(139,0,0,1);
    -fx-border-width: 0.5; 
    -fx-border-color: black
}
.small{
    -fx-font: 12 arial;
}
.medium{
    -fx-font: 16 arial;
}
.large{
    -fx-font: 22 arial;
}